.app_Blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .top-content_Blog {
    margin-top: 50px; /* Adjust as needed */
    text-align: center;
  }
  
  .card-container_Blog{
    display: flex;
  justify-content: center;
  gap: 20px; /* Adjust as needed */
  }
  
  .card_Blog {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
  }
  
  .card_Blog img {
    width: 100%; /* Ensure the image fills the container */
    border-radius: 8px;
  }
  
  .card-content_Blog {
    margin-top: 10px; /* Adjust as needed */
  text-align: center;
  }
  