.container_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151B54;
  color: white;
  padding: 20px;
}

.icons_Contact {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  margin-bottom: 20px;
 
}
.icons_Contact .icon {
  margin-right: 60px; /* Adjust the right margin as needed */
}
.icons_Contact img {
  margin-bottom: 10px; /* Add spacing between icons and "Contact Us" section */
}

.contact_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact_info,
.additional_links,
.contact_forms {
  flex: 1;
  margin-right: 20px;
}

.contact_forms {
  display: flex;
  flex-direction: column;
}

.contact_form,
.contact_comments_form {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}
