.navbar {
    background-image: url('./../assets/images/header-bg.jpg');
    background-size: cover;
    height: 100px; /* Adjust as needed */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center; /* Center the content vertically */
    color: white; /* Adjust text color as needed */
    padding-left: 200px; /* Add some padding to the left */
 
   
  }
  .navbar-icons {
    display: flex;
    align-items: center;
    padding-left: 600px;
    gap:10px
  }
  .nav-links {
    display: flex;
    gap: 70px; /* Adjust space between links */
    padding-left: 800px;

  }
  #id{
    content: blue;
  }
  .navbar-icons img {
    width: 30px; /* Adjust icon size as needed */
    margin-left: 20px; /* Adjust space between icons */
  }
  .background-container {
    background-image: url('./../assets/images/travel-banner.jpeg');
    background-size: cover;
    background-position: center;
    height: 90vh; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content_Home {
    text-align: center;
    color: white;
  }
  
  .content_Home h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .content_Home p {
    font-size: 18px;
  }
  .button_Home{
      margin: 0 10px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px; 
      background-color: orangered; 
      color: #fff;
      border: none; 
      outline: none;
    
  }
 
  .search-bar label,
.search-bar input,
.search-bar select,
.search-bar button {
  color: black;
}
.container_Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Increase the distance from the title */
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Increase the gap between elements */
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Increase the gap between elements */
}
  
